.page {
	display: flex;
	justify-content: center;

	width: 100vw;
	height: 100vh;
}

.page > .content {
	--vertical-padding: 32px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: min(100%, 500px);
	height: 100vh;

	position: relative;

	color: var(--text-color);
}

.page > .content > .title {
	width: 100%;

	position: absolute;
	top: var(--vertical-padding);
	left: 50%;
	transform: translateX(-50%);

	font-size: 2rem;
	font-weight: 700;
	line-height: 38px;
	text-align: center;
}

.page > .content > .video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page > .content > button {
	--padding: 20px;
	--animation-duration: .5s;

	display: flex;
	justify-content: center;
	align-items: center;

	width: min(100%, 300px);
	padding: var(--padding);

	position: absolute;
	bottom: calc(var(--vertical-padding) * 2);
	left: 50%;
	transform: translateX(-50%);

	color: var(--text-color);
	background-image: linear-gradient(135deg, #fd71b5, #ff1c8a);

	border-radius: 30px;
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 1;
}

.page > .content > .next::before {
	content: '';

	width: 14px;
	height: 14px;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--padding);

	/*background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw3LjI0MzY0IDcuMjQzODNMMiAxMi40ODc1IiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');*/
	background-repeat: no-repeat;
}